* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #ebeae9, #96c0dc);
  background: #000;
}

canvas {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%!important;
  height: 100%!important;
}